@import "compass/css3";

$background_main:#045493;
$color_main: #fff;
$color_hover:#6ca7cf;
$color_link: #fff;

$white: #fff;
$color1: #d3ebfd;
$color2: #cbcbcb;
$color3: #035492;
$color4: #f2f9ff;
$color5:#ecf7ff;

$color6:#1e5177;
$color7:#507896;


$bg-contacts: #e6e6e6;

$font-regular: 'HelveticaNeue', arial, tahoma, sans-serif;

$text-shadow: 0 2px 2px rgba(0,0,0,.5);

%transition{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
%radius {
  @include border-radius(5px);
}
%radius_4 {
  @include border-radius(4px);
}
%but {
  background: $color_main;
  display: inline-block;
  color: $color3;
  font: 500 13px/35px $font-regular;
  height: 35px;
  padding: 0 23px;
  text-align: center;
  text-transform: uppercase;
  @extend %transition;
  @include border-radius(18px);
  z-index: 1;
  border: none;
    cursor:pointer;

  &:hover {
    // color: $color_main;
      //background: $color3;
      background: $color_main;
      color: $color3;
      @include box-shadow(0px 0px 30px rgba(255,255,255, 1));
  }
}


@import "compass/utilities/sprites";
@import "icons/*.png";