@import "_mixin.scss";
@import "compass/css3";

.rub{
    font-family: 'HelveticaNeue-Medium';
    font-weight: 500;
    font-style: normal;
}


/* Select with image*/
.borderRadius{-moz-border-radius:5px; border-radius:5px; }
.borderRadiusTp{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default; width: 60px !important;    height: 27px;
    vertical-align: middle; padding-top: 2px;cursor: pointer;
}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:11px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999;}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd{}
.dd .divider{ right:24px;}
.dd .ddArrow{width:13px;height:10px; margin-top:-5px; background:url(../images/icons/arrow-down_icon_blue.png) no-repeat;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle{}
.dd .ddTitle .ddTitleText{padding:0 0 0 0px;text-align: left;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{}
.dd .ddChild{border: 1px solid #d5d5d5; background-color:#fff; left:-1px;top: 35px !important;}
.dd .ddChild li{padding:4px 5px; background-color:#fff; text-align: center;height: 28px;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 0px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{}
/* Select with image*/


body.booking {
  .content {
    /*max-width: 1300px;*/
  }
  .main-content {
    background-image: url("../images/bg/bg-booking.jpg");
    -webkit-background-size: cover;
    background-size: cover;
  }
  .fancybox-close-small {
    display: none;
  }
    .fancybox-close-small:focus {
    outline: none;
  }
    .fancybox-button--fullscreen{
        display: none !important;
    }
    
}
.booking-content{
    max-width: 1300px;
    margin: 0 auto;
}
body.order {
  background-image: url("../images/bg/header-order.png");
  background-repeat: no-repeat;
  background-position: center 0;
  -webkit-background-size: cover;
  background-size: cover;
  
  .fancybox-close-small:focus {
    outline: none;
  }
}

body.prog-view {
  background-color: #fff;
  .content {
    /*max-width: 1343px;*/
  }
  .section-inner-cost-top {
    padding-top: 20px;
    background: #095994; /* Old browsers */
    background: -moz-linear-gradient(top, #095994 0%, #8cb1cd 28%, #d1e0eb 35%, #ffffff 44%, #ffffff 44%, #ffffff 47%, #ffffff 47%, #ffffff 48%, #ffffff 49%, #ffffff 49%, #ffffff 52%, #ffffff 54%, #ffffff 54%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #095994 0%,#8cb1cd 28%,#d1e0eb 35%,#ffffff 44%,#ffffff 44%,#ffffff 47%,#ffffff 47%,#ffffff 48%,#ffffff 49%,#ffffff 49%,#ffffff 52%,#ffffff 54%,#ffffff 54%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #095994 0%,#8cb1cd 28%,#d1e0eb 35%,#ffffff 44%,#ffffff 44%,#ffffff 47%,#ffffff 47%,#ffffff 48%,#ffffff 49%,#ffffff 49%,#ffffff 52%,#ffffff 54%,#ffffff 54%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#095994', endColorstr='#ffffff',GradientType=0 );
  }
  .content-cols__item {
    width: 54%;
  }
  .content-text {
    padding: 43px 0 112px 10px;
    p {
      padding-bottom: 20px;
    }
    ul {
      //padding-bottom: 18px;
      li {
        padding-left: 23px;
        padding-bottom: 7px;

      }
    }
    ul.breadcrumbs li {
      padding-left: 0;
    }
    .content-title {
      font-size: 37px;
      margin-top: 16px;
      line-height: 1.25;
      padding-bottom: 23px;
    }
  }
  .content-cols__item:nth-child(1) {
    /*padding: 0 65px 0 42px;*/
  }
  .container-programs .inner {
    margin-bottom: 37px;
  }
  .section-slider-wrap {
    padding: 80px 0;
    background-image: url("../images/bg/bg-program_bottom.png");
    background-position: 0 81%;
    background-size: cover;
    background-color: #045592;
  }
}
header.booking {
  height: 150px;
}
.booking-content-header {
  position: relative;
  margin-bottom: 38px;
  &__lang {
    position: absolute;
    top: 12px;
    left: -2px;
    .jq-selectbox__select {
      height: 25px;
      line-height: 25px;
      background: transparent;
      padding: 0;
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      .jq-selectbox__trigger-arrow {
        width: 16px;
        height: 10px;
        top: 7px;
        right: 0;
        background-image: url("../images/icons/arrow-down-show-more.png");
      }
    }
    .jq-selectbox__dropdown {
      top: 30px !important;
      left: 0px;
      li {
        padding: 0;
        line-height: 28px;
        &:hover,
        &.sel{
          color: #fff;
          background-color: #075996;
        }
      }
    }
  }
}
.box-field-select {
  width: 70px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  text-align: center;
  &__label {
    width: 67px;
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 7px;
    border-bottom: 1px solid #709fc0;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    text-transform: uppercase;
  }
}
.booking-content-header__title {
  text-align: center;
  h1 {
    font-size: 46px;
    margin-bottom: 13px;
    letter-spacing: 3px;
  }
  p {
    color: #b6cee1;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1.5px;
  }
}
.booking-nav {
  margin-bottom: 44px;
  &__period {
    background-color: #1b5379;
    float: left;
    width: 50%;
    border-radius: 15px 0 0 15px;
    padding: 9px 13px 9px 37px;
    border-right: 1px solid #5f96b2;
    .period-title {
      float: left;
      color: #a3c4d8;
      font-size: 15px;
      font-weight: 300;
      &__icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
      }
      &__text {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .period-descr {
      float: right;
      a {
        font-size: 16px;
        margin-right: 25px;
        font-weight: normal;
      }
      span {
        display: inline-block;
        margin-right: 25px;
      }
    }
  }
  &__number {
    float: right;
    width: 50%;
    background-color: #1b5379;
    border-radius: 0 15px 15px 0;
    .number-count {
      float: left;
      width: 62%;
      padding: 11px 37px 11px;
      .number-title {
        float: left;
        color: #a3c4d8;
        font-size: 15px;
        font-weight: 300;
      }
      .number {
        float: right;
        &-minus {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #7e949f;
          background-color: transparent;
          &:hover {
            border: 1px solid #fff;
            cursor: pointer;
          }
          &:before {
                content: "-";
                position: absolute;
                top: 0px;
                left: 0px;
                color: #fff;
                height: 18px;
                line-height: 17px;
                display: block;
                width: 18px;
                text-align: center;
          }
        }
        &-plus {
          position: relative;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: none;
          border: 1px solid #7e949f;
          background-color: transparent;
          display: inline-block;
          vertical-align: middle;
          &:hover {
            border: 1px solid #fff;
            cursor: pointer;
          }
          &:before {
                content: "+";
                position: absolute;
                top: 0px;
                left: 0px;
                color: #fff;
                height: 18px;
                line-height: 17px;
                display: block;
                width: 18px;
                text-align: center;
          }
        }
        &-show {
          display: inline-block;
          vertical-align: middle;
          width: 60px;
          border: none;
          background-color: transparent;
          text-align: center;
          color: #fff;
        }
      }
    }
    .number-count-search {
      float: right;
      width: 33%;
      &__btn {
        display: block;
        text-align: center;
        width: 100%;
        border: none;
        border-radius: 0 15px 15px 0;
        padding: 12px 10px;
        background-color: #075996;
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 13px 10px 12px;
        &:hover {
          background-color: #2685b9;
        }
      }
    }
  }
}
.booking-catalog-list {
  margin: 0 0 55px 0;
  padding: 0;
  list-style-type: none;
  &__item {
    border-radius: 7px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
    .item-foto {
      width: 285px;
      float: left;
         position: relative;
        .fancy-link {
           position: absolute;
            top: 15px;
            left: 15px;
            width: 39px;
            height: 38px;
            background-image: url("../images/icons/show_icon.png");
          }
      img {
        display: block;
        width: 100%;
        border-radius: 7px 0 0 7px;
      }
    }
    .item-content {
      width: 100%;
      float: left;
      margin: 0 0 0 -285px;
      padding: 26px 0 0 285px;
      .description {
        width: 78%;
        display: inline-block;
        padding: 0 50px;
        .size {
          display: inline-block;
          padding: 7px 8px;
          background-color: #bfd0db;
          border-radius: 10px;
          margin-left: 18px;
          sup {
            vertical-align: super;
          }
        }
        &-text {
          color: #7e8a91;
          font-size: 14px;
          margin: 13px 0 23px;
          font-weight: 500;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 80px;
            bottom: 0;
            background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
          }
        }
        &-middle {
          background-color: #f4f7f9;
          border-radius: 7px;
          padding: 15px 20px;
          .icon.small {
            width: 18px;
            height: 18px;
            background-image: url("../images/icons/icon-room2.png");
          }
        }
      }
    }
  }
}
.type-room {
  display: inline-block;
  vertical-align: middle;
  &:hover .text {
    color: #2685b9;
    border-bottom: 1px dotted transparent;
  }
  .text {
    color: #045592;
    font-size: 22px;
    font-weight: 700;
    margin-right: 15px;
    border-bottom: 1px dotted #045592;
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 22px;
    background-image: url("../images/icons/icon-room1.png");
    box-shadow: 0px 5px 9px 0px rgba(0, 67, 118, 0.2);
    @include border-radius(50%);
    &_up{
        width:17px;
        height: 18px;
        background-image: url("../images/icons/icon-room2-up.png");
        margin-top: -4px;
    }
  }
}
.type-room.other {
  display: block;
  margin-bottom: 14px;
  .text {
    font-size: 16px;
  }
}
.repeal {
  display: inline-block;
  margin-bottom: 7px;
  position: relative;
  &:hover .text {
    border-bottom: 1px dotted transparent;
  }
  .before-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 12px;
    height: 14px;
    background-image: url("../images/icons/arrow-down_before.png");
  }
  .text {
    color: #000;
    font-size: 14px;
    border-bottom: 1px dotted #000;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 5px;
    background-image: url("../images/icons/arrow-down_icon.png");
  }
}
.description-middle__pay {
  color: #455864;
  font-size: 12px;
  .text {
    display: inline-block;
    margin-right: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding-left: 25px;
    background-image: url("../images/icons/pay_icon.png");
    background-repeat: no-repeat;
      letter-spacing: 0.7px;
  }
  .dash {
    margin-right: 10px;
  }
}
.info-room {
  position: relative;
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  .info-room__icon {
    margin-bottom: 25px;
  }
  .cost-text {
    color: #6e7b83;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .cost {
    position: relative;
    display: block;
    color: #000;
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 15px;
    &:after {
      position: absolute;
      content: "";
      top: 41px;
      left: 50%;
      width: 1px;
      height: 13px;
      background-color: #b3c7d5;
    }
  }
  .info-room__btn {
    background: #1475ad; /* Old browsers */
    background: -moz-linear-gradient(top, #1475ad 0%, #054b83 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1475ad 0%,#054b83 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1475ad 0%,#054b83 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1475ad', endColorstr='#054b83',GradientType=0 );
    color: #fff;
    top: 150px;
    right: -20px;
    padding: 0 32px;
    -moz-box-shadow: 0px 0px 30px #c6d6e2;
    -webkit-box-shadow: 0px 0px 30px #c6d6e2;
    box-shadow: 0px 0px 30px #c6d6e2;
    &:before {
      border: 1px solid #e4ecf3;
    }
    &:hover {
      background: #1490d2; /* Old browsers */
      background: -moz-linear-gradient(top, #1490d2 0%, #0656a0 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #1490d2 0%,#0656a0 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #1490d2 0%,#0656a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1490d2', endColorstr='#0656a0',GradientType=0 );
    }
  }
}
.box-paging {
  margin: 10px auto 70px;
  text-align: center;
  .paging-list {
    padding: 0;
    margin: 0;
    list-style: none;
    //line-height: 10px;
    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-left: 2px;
      .paging-list__link {
        display: inline-block;
        width: 32px;
        height: 32px;
        font-weight: 700;
        border: 1px solid #568db6;
        border-radius: 50%;
        color: #568db6;
        text-align: center;
        padding-top: 6px;
        &:hover {
          border: 1px solid #fff;
          color: #fff;
        }
        &.active {
          color: #065693;
          background-color: #fff;
          border: 1px solid #fff;
        }
      }
    }
    &__item.first {
      display: inline-block;
      vertical-align: middle;
      margin-right: 45px;
      a {
        display: inline-block;
        width: 18px;
        height: 33px;
        @include icons-sprite(arrow-left-pagination);
        @include transform(scale(0.8));
        &:hover{
            @include transform(scale(1));
        }
      }
    }
    &__item.last {
      display: inline-block;
      vertical-align: middle;
      margin-left: 45px;
      a {
        display: inline-block;
        width: 18px;
        height: 33px;
        @include icons-sprite(arrow-right-pagination);
        @include transform(scale(0.8));
        &:hover{
            @include transform(scale(1));
        }
        }
      }
    }
}
.popup {
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
}
.window-open {
  max-width: 570px;
  background-color: #fff;
  position: relative;
  padding: 27px;
  border-radius: 10px;
  overflow: visible;
    .type-room{
        .text, .icon{
            cursor:pointer;
        }
    } 
  .type-room.other {
    .text {
      border-bottom: none;
    }
  }
  .window-open-cont__title {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 11px;
    padding-left: 10px;
  }
  .inner-head {
    padding: 5px 0 15px 9px;
    border-bottom: 1px solid #ced2d4;
    h4 {
      color: #000;
      font-size: 16px;
    }
  }
  .inner-list {
    margin: 0;
    padding: 20px 0 0 20px;
    list-style-type: none;
    &__item {
      color: #858e94;
      font-size: 14px;
      position: relative;
      padding-left: 15px;
      margin-bottom: 8px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        background-color: #045592;
        width: 6px;
        font-size: 16px;
        height: 1px;
      }
    }
  }
}




.container-programs {
  background-color: #045493;
  background-image: url("../images/bg/bg-program1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  .content-title {
    text-transform: uppercase;
    line-height: 1.2;
  }
  p {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.3;
    font-size: 17px;
  }
  .content-title_h3 {
    padding: 15px 0 9px;
    border-bottom: 1px solid #3a7ba9;
    h3 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .inner {
    border-bottom: 1px solid #3a7ba9;
    margin-bottom: 25px;
    .duration {
      p {
        width: 200px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.8);
      }
      .dash {
        color: rgba(255, 255, 255, 0.8);
        margin-right: 30px;
      }
      .num {
        text-transform: uppercase;
        font-size: 11px;
      }
    }
    .age {
      p {
        width: 200px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.8);
      }
      .dash {
        color: rgba(255, 255, 255, 0.8);
        margin-right: 30px;
      }
      .num {
        text-transform: uppercase;
        font-size: 11px;
      }
    }
  }
  .reserve {
    .button {
      display: inline-block;
      vertical-align: middle;
      margin: 0 30px 0 0;
      font-size: 17px;
      font-weight: 700;
      padding: 0 35px;
      height: 40px;
      line-height: 43px;
    }
    .reserve__info {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 0;
      color: #fff;
      font-weight: 100;
      font-size: 15px;
      text-transform: uppercase;
      .num {
        font-size: 27px;
        margin: 0 8px;
        font-weight: 400;
      }
      .dash {
        display: inline-block;
        margin: 0 10px;
      }
      a {
        position: relative;
        top: 0;
        margin-left: 16px;
        display: inline-block;
        width: 6px;
        height: 11px;
        background-image: url("../images/icons/arrow-mineral-right.png");
      }
    }
  }
}
.content-cols {
  position: relative;
  .foto-programs {
    float: right;
    position: absolute;
    top: 130px;
    //right: 0;
  }
}
.section-inner-cost {
  //background-image: url("../images/bg/bg-program_top.png");
  //background-position: 0 -40%;
  //background-repeat: no-repeat;
  //background-color: #045592;
  .content {
    padding: 0 125px;
    .header {
      padding: 10px 0;
      border-bottom: 1px solid #cfdfea;
      h3 {
        color: #000;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}
.section-inner-cost-list {
  margin: 0;
  padding: 30px 0 24px 23px;
  list-style-type: none;
  .section-inner-cost__item {
    color: #474747;
    font-size: 15px;
    padding-bottom: 11px;
    position: relative;
    padding-left: 25px;
    line-height: 1.5;
    &:before {
          content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 7px;
            height: 2px;
            background: #0b5a94;
      //color: #0b5a94;
    }
  }
}
.section-inner-cost-list_mod {
  margin-bottom: 31px;
  .section-inner-cost__item {
    padding-bottom: 8px;
  }
}
.section-inner-info_left {
  float: left;
  width: 49%;
}
.section-inner-info_right {
  float: right;
  width: 49%;
  &-p {
    padding: 34px 0;
    color: #474747;
    font-size: 15px;
    line-height: 1.5;
  }
  &-red {
    padding: 0 0 0 15px;
    margin-bottom: 24px;
    color: #c26a6a;
    font-size: 13px;
    line-height: 1.5;
    border-left: 1px solid #c26a6a;
  }
}
.program-table {
  margin-bottom: 30px;
  overflow-y: auto;
  _overflow: auto;
  .program-table-inner {
    min-width: 650px;
  }
  .table-head {
    text-align: center;
    padding: 22px 0;
    border-bottom: 2px solid #50a2df;
    h3 {
      color: #000;
      font-size: 24px;
      font-weight: normal;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }
  .table-list {
    list-style-type: none;
    width: 100%;
    &__item {
      color: rgba(0, 0, 0, 0.8);
      font-size: 15px;
      .col {
        padding: 9px 0;
        display: inline-block;
        font-size: 15px;
      }
      .col_1 {
        width: 70%;
        padding-left: 100px;
      }
      .col_2 {
        text-align: center;
        width: 7%;
      }
      .col_3 {
        text-align: center;
        width: 7%;
      }
      .col_4 {
        text-align: center;
        width: 7%;
      }
      .col_colspan {
        text-align: center;
        width: 20%;
      }
      .col.note {
        font-style: italic;
        font-size: 13px;
      }
    }
    &__item.color {
      background-color: #f5f8fb;
    }
    &__item.mod {
      .col {
        font-weight: 700;
      }
    }
  }
}
.thead-table {
  padding: 20px 100px;
  border-bottom: 1px solid #e0eaf2;
  &__left {
    float: left;
    width: 79%;
    color: #000;
    font-size: 17px;
  }
  &__right {
    text-align: center;
    float: left;
    width: 21%;
    color: #000;
    font-size: 17px;
  }
}
.section-note {
 padding: 0 0 0 95px;
  &__head {
    color: #000;
    font-size: 18px;
    font-weight: 700;
  }
  .section-inner-cost-list {
    padding: 22px 0 34px 5px;
    .section-inner-cost__item {
      line-height: 1.4;
      padding-bottom: 30px;
      &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: -1px;
        width: 12px;
        height: 3px;
        background-color: #5a5a5a;
      }
    }
  }
}


body.order {
  background-color: #f0f4f8;
}
.order-content-head {
  margin-bottom: 35px;
  margin-top: 50px;
  padding-left: 37px;
  &__title {
    float: left;
    width: 30%;
    h2 {
      color: #095894;
      font-size: 34px;
      font-weight: 500;
      text-align: left;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
    p {
      color: #9da0a5;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  &__descr {
    float: right;
    //width: 70%;
    .total-order {
      display: inline-block;
      vertical-align: middle;
      margin-right: 58px;
      .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        margin-right: 40px;
        color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        .icon {
          width: 45px;
          height: 45px;
          margin-right: 17px;
          background-image: url("../images/icons/total.png");
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .dash {
        display: inline-block;
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.6);
        margin-right: 40px;
      }
      .total {
        display: inline-block;
        vertical-align: middle;
        color: #000;
        font-size: 49px;
        font-weight: 500;
      }
    }
    .total-order-details {
      display: inline-block;
      vertical-align: middle;
      a {
        background-color: #1475ad;
            position: relative;
        text-transform: uppercase;
        border-radius: 20px;
        padding: 0 40px 0 18px;
        font-size: 13px;
        display: inline-block;
        height: 28px;
        line-height: 30px;
        font-weight: 700;
        
        
        background: #1a73ab;
        background: -moz-linear-gradient(-45deg, #1a73ab 0%, #085696 100%);
        background: -webkit-linear-gradient(-45deg, #1a73ab 0%, #085696 100%);
        background: linear-gradient(135deg, #1a73ab 0%,#085696 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a73ab', endColorstr='#085696',GradientType=1 );
        -webkit-box-shadow: 2px 2px 15px 0px rgba(4,47,70,0.2);
        -moz-box-shadow: 2px 2px 15px 0px rgba(4,47,70,0.2);
        box-shadow: 2px 2px 15px 0px rgba(4,47,70,0.2);
          letter-spacing: 0.5px;
          
        &:after{
           content: "";
           position: absolute;
            top: 50%;
            background: url("../images/icons/arrow-down-show-more.png") no-repeat;
            width: 16px;
            height: 10px;
            margin-top: -5px;
            right: 10px;
             @include transform(scale(0.8));
        }
        &:hover {
          background-color: #1490d2;
            background: #1490d2;
            background: -moz-linear-gradient(top, #1490d2 0%, #0656a0 100%);
            background: -webkit-linear-gradient(top, #1490d2 0%, #0656a0 100%);
            background: linear-gradient(to bottom, #1490d2 0%,#0656a0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1490d2', endColorstr='#0656a0',GradientType=0 );
           
        }
      }
    }
  }
}
.box-order {
      padding: 46px 45px 32px 60px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  &__header {
    color: #000;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 34px;
  }
}
.box-order.call {
  .box-field {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    &:first-child {
      margin-right: 3%;
    }
    .box-field__input {
      border: none;
      padding-left: 20px;
    }
    p {
      color: #575757;
      font-size: 14px;
      padding-left: 10px;
      line-height: 1.5;
      margin-bottom: 28px;
    }
  }
  .box-field-checkbox {
    margin-bottom: 15px;
    .jq-checkbox {
      width: 23px;
      height: 23px;
      margin-right: 20px;
      &.checked {
        border-color: #cecece;
      }
    }
  }
}
.email-wrap {
  width: 40px;
  display: inline-block;
  border-right: 1px solid #d5d5d5;
  padding-top: 5px;
}
.box-field__inner {
  margin-bottom: 23px;
  width: 100%;
  height: 47px;
  border: 1px solid #d5d5d5;
  border-radius: 7px;
  padding: 10px 16px;
  .select-wrap {
    width: 63px;
    display: inline-block;
    border-right: 1px solid #d5d5d5;
    .jq-selectbox {
      width: 57px;
    }
    .jq-selectbox__select {
      height: 27px;
      line-height: 27px;
      border-radius: 7px;
      padding: 0;
      .jq-selectbox__select-text {
        height: 27px;
        padding-left: 67px;
        line-height: 30px;
        background: url("../images/icons/flag.png") no-repeat 5px center;
      }
      .jq-selectbox__trigger {
        background: url("../images/icons/arrow-down_icon_blue.png") no-repeat center center;
      }
    }
    .jq-selectbox__dropdown {
      top: 35px !important;
      left: 0;
      ul {
        li {
          min-height: 23px;
          padding-left: 40px;
          background-image: url("../images/icons/flag.png");
          background-repeat: no-repeat;
          background-position: center center;
          &:hover {
            background-color: #fff;
          }
          &.sel {
            background-color: #fff;
          }
        }
      }
    }
  }
}
.box-field-checkbox {
  label {
    color: #000;
    font-size: 15px;
    font-weight: 300;
  }
  .jq-checkbox.checked {
    .jq-checkbox__div {
      width: 11px;
      height: 9px;
      top: 6px;
      left: 6px;
      background-image: url("../images/icons/checkbox.png");
    }
  }
}
.box-order.visitor {
    padding: 38px 50px 21px 60px;
  .box-order__header {
    margin-bottom: 18px;
  }
  .box-field {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 24.5%;
    margin-right: 1.5%;
    .box-field__input {
      margin-bottom: 26px;
      width: 100%;
      height: 47px;
      border: 1px solid #d5d5d5;
      border-radius: 7px;
      padding: 10px 16px;
      /* remove inner shadow on iOS input */
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
      background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    }
  }
  .visitor-title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 35px;
  }
  //.box-field__citizen {
  //  border: 1px solid #d5d5d5;
  //  border-radius: 7px;
  //  .box-field__input {
  //    border: none;
  //    display: inline-block;
  //    vertical-align: top;
  //    width: 70%;
  //    margin-bottom: 0;
  //  }
  //  .select-wrap {
  //    display: inline-block;
  //    vertical-align: top;
  //    width: 26%;
  //    padding: 10px 0;
  //    .jq-selectbox {
  //      border-left: 1px solid #d5d5d5;
  //    }
  //    .jq-selectbox__select {
  //      height: 47px;
  //    }
  //  }
  //}
}
.box-order_time {
 padding: 38px 65px 54px;
  .box-order__header {
    margin-bottom: 17px;
  }
  p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    margin-bottom: 29px;
  }
  .box-field {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-bottom: 8px;
    &:first-child {
      margin-right: 3%;
    }
    .jq-selectbox {
      width: 100%;
      height: 47px;
      border: 1px solid #d5d5d5;
      border-radius: 7px;
      padding: 10px 16px;
      .jq-selectbox__select {
        height: 27px;
        line-height: 27px;
        border-radius: 7px;
        padding: 0;
        text-align: center;
        .jq-selectbox__trigger {
          padding: 0 0 0 32px;
          border-left: 1px solid #d5d5d5;
          background: url("../images/icons/arrow-down_icon_blue.png") no-repeat center right;
        }
      }
      .jq-selectbox__dropdown {
        bottom: -116px !important;
        left: 0;
        li {
          text-align: center;
        }
      }
    }
  }
  .box-field__input {
    margin-bottom: 26px;
    width: 100%;
    height: 47px;
    border: 1px solid #d5d5d5;
    border-radius: 7px;
    padding: 10px 16px;
  }
  .comments {
    margin-top: 30px;
    h3 {
      color: #000;
      font-size: 30px;
      font-weight: 100;
      margin-bottom: 23px;
    }
    textarea {
      width: 100%;
      min-height: 78px;
      border: 1px solid #d5d5d5;
      border-radius: 7px;
      resize: none;
      padding: 16px 26px;
      /* remove inner shadow on iOS input */
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
      background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    }
  }
}
.box-order_info-pay {
  padding: 38px 55px 21px 65px;
  margin-bottom: 92px;
  .box-order__header {
    margin-bottom: 16px;
  }
}
.info-pay-list {
  margin: 0;
  padding: 0 0 0 17px;
  list-style-type: none;
  .info-pay__item {
    padding: 33px 15px 18px 40px;
    border-bottom: 1px solid #c6cfd8;
    &-title {
      float: left;
      width: 70%;
    }
    &:last-child {
      border-bottom: none;
    }
    &-head {
      position: relative;
      padding-left: 45px;
          margin-bottom: 12px;
        letter-spacing: 0.5px;
      p {
        display: inline-block;
        vertical-align: middle;
        color: #000;
        font-size: 19px;
        font-weight: 700;
        margin-right: 20px;
      }
      .icon {
        display: inline-block;
        vertical-align: middle;
      }
      .icon1 {
        width: 99px;
        height: 25px;
        background-image: url("../images/icons/visa_icon.png");
      }
      .icon2 {
        width: 282px;
        height: 27px;
        background-image: url("../images/icons/email-money.png");
      }
      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: -3px;
        width: 26px;
        height: 27px;
        background-image: url("../images/icons/arrow-pay.png");
      }
      .dash {
        color: #c1c1c1;
        margin-right: 20px;
      }
      .text {
        color: #444444;
        font-size: 13px;
      }
    }
    &-descr {
      color: #626262;
      font-size: 15px;
      font-weight: 300;
        padding-left: 45px;
        line-height: 1.5;
        letter-spacing: 0.67px;
      a {
        color: #095b99;
        font-size: 15px;
        text-decoration: underline;
      }
    }
    &-reserve {
      float: right;
          
        width: 25%;
        text-align: center;
        padding: 13px 0;
        &-p{
            padding-top:45px;
            padding-bottom: 15px;
        }
      .reserve-link {
        display: inline-block;
        /*height: 32px;
        line-height: 33px;*/
        background-color: #0c5e9d;
        text-transform: uppercase;
        border-radius: 20px;
        padding: 0 30px;
        font-size: 13px;
        font-weight: 700;
        background: #1a73ab;
        letter-spacing: 1.4px;
        padding: 10px 20px 8px;
        background: -moz-linear-gradient(-45deg, #1a73ab 0%, #085696 100%);
        background: -webkit-linear-gradient(-45deg, #1a73ab 0%,#085696 100%);
        background: linear-gradient(135deg, #1a73ab 0%,#085696 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a73ab', endColorstr='#085696',GradientType=1 );
        -webkit-box-shadow: 2px 2px 15px 0px rgba(4,47,70,0.2);
        -moz-box-shadow: 2px 2px 15px 0px rgba(4,47,70,0.2);
        box-shadow: 2px 2px 15px 0px rgba(4,47,70,0.2);
          @extend %transition;
        &:hover {
          background: #1490d2;
            background: -moz-linear-gradient(top, #1490d2 0%, #0656a0 100%);
            background: -webkit-linear-gradient(top, #1490d2 0%, #0656a0 100%);
            background: linear-gradient(to bottom, #1490d2 0%,#0656a0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1490d2', endColorstr='#0656a0',GradientType=0 );
        }
      }
      .info {
        display: block;
        color: #8f8f8f;
        font-size: 13px;
        margin-bottom: 13px;
        letter-spacing: 0.5px;
        padding-right: 14px;
          
        b {
          color: #000;
          font-size: 19px;
            font-weight: 500;
        }
          i{
              font-style:normal;
              font-size: 16px;
          }
      }
    }
  }
}
.bottom-info {
  width: 85%;
  margin: 0 auto 100px;
  .bottom-info__text {
    display: inline-block;
    vertical-align: middle;
    width: 82%;
    padding-left: 73px;
    background-image: url("../images/icons/castle.png");
    background-repeat: no-repeat;
    background-position: left top;
    p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      line-height: 1.5;
    }
  }
  .bottom-info__foto {
    display: inline-block;
    vertical-align: middle;
    width: 17%;
    text-align: center;
  }
}


.window-open.small {
  width: 500px;
  padding: 0;
  .wrapper {
    padding: 0 65px;
    margin-bottom: 30px;
  }
  .header {
    margin-top: 30px;
    color: #065793;
    font-size: 23px;
    font-weight: 500;
    text-transform: inherit;
    margin-bottom: 35px;
  }
  .header.nothing {
    margin-bottom: 15px;
  }
  p {
    color: #2f3941;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 25px;
  }
  .field-input {
    display: block;
    width: 100%;
    height: 37px;
    border: none;
    background-color: #f0f5f9;
    margin-bottom: 13px;
    input {
      float: left;
      width: 90%;
      padding: 0 25px 0 25px;
      height: 37px;
      border: none;
      background-color: transparent;
        line-height: initial;
    }
    .icon-box {
      float: right;
      width: 10%;
      height: 37px;
      border-left: 1px solid #e3e9ee;
      &.people {
        background-image: url("../images/icons/people.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
      &.phone {
        background-image: url("../images/icons/phone.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
      &.email {
        background-image: url("../images/icons/email-letter.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
      &.sick {
        background-image: url("../images/icons/sick.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
      &.message {
        background-image: url("../images/icons/message.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  .field-input.message {
    height: auto;
    min-height: 37px;
    textarea {
      float: left;
      width: 90%;
      padding: 7px 25px 0 25px;
      height: 77px;
      border: none;
      background-color: transparent;
      resize: none;
    }
    .icon-box {
      height: 77px;
    background-position: center 14px;
    }
  }
  .field-input.select {
    .jq-selectbox__select {
      height: 37px;
      padding: 0 25px;
      background-color: transparent;
      .jq-selectbox__select-text {
        height: 37px;
        line-height: 37px;
        color: rgba(0,0,0,0.5);
        font-size: 17px;
        font-weight: 100;
      }
      .jq-selectbox__trigger {
        width: 10%;
        border-left: 1px solid #e3e9ee;
        background-image: url("../images/icons/arrow-down_icon_blue.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    .jq-selectbox li:hover {
      background-color: #f0f5f9;
    }
    .jq-selectbox li.sel {
      background-color: #f0f5f9;
    }
      .jq-selectbox__dropdown{
          top: 36px;
      }
      .jq-selectbox:hover, .jq-selectbox.opened{
          background: #fff;
         -webkit-box-shadow: 0px 0px 25px 0px rgba(4,47,70,0.1);
        -moz-box-shadow: 0px 0px 25px 0px rgba(4,47,70,0.1);
        box-shadow: 0px 0px 25px 0px rgba(4,47,70,0.1);
          &:before{
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border: 1px solid rgba(10,103,153,0.26); 
          }
      }
  }
  .wrap-btn {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #0a5d98 0%, #207cca 100%, #2889bc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%,#0a5d98 0%,#207cca 100%,#2889bc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#0a5d98 0%,#207cca 100%,#2889bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2889bc',GradientType=1 );
      border-radius: 0 0 10px 10px;
      margin-bottom: -3px;
  }
  .call-me {
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    background-image: url("../images/icons/arrow-right-white.png");
    background-repeat: no-repeat;
    background-position: 85% center;
  }
}
::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5) !important;
  font-size: 17px !important;
  font-weight: 300 !important; }

::-webkit-textarea-placeholder {
  color: rgba(0,0,0,0.5) !important;
  font-size: 17px !important;
  font-weight: 300 !important; }

::-moz-placeholder {
  color: rgba(0,0,0,0.5) !important;
  font-size: 17px !important;
  font-weight: 300 !important; }

:-moz-placeholder {
  color: rgba(0,0,0,0.5) !important;
  font-size: 17px !important;
  font-weight: 300 !important; }

:-ms-input-placeholder {
  ccolor: rgba(0,0,0,0.5) !important;
  font-size: 17px !important;
  font-weight: 300 !important; }

:-ms-textarea-placeholder {
  color: rgba(0,0,0,0.5) !important;
  font-size: 17px !important;
  font-weight: 300 !important; }


.window-open.small {
  ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5) !important;
    font-size: 16px !important;
    font-weight: normal !important; }

  ::-webkit-textarea-placeholder {
    color: rgba(0,0,0,0.5) !important;
    font-size: 16px !important;
    font-weight: normal !important; }

  ::-moz-placeholder {
    color: rgba(0,0,0,0.5) !important;
    font-size: 16px !important;
    font-weight: normal !important; }

  :-moz-placeholder {
    color: rgba(0,0,0,0.5) !important;
    font-size: 16px !important;
    font-weight: normal !important; }

  :-ms-input-placeholder {
    ccolor: rgba(0,0,0,0.5) !important;
    font-size: 16px !important;
    font-weight: normal !important; }

  :-ms-textarea-placeholder {
    color: rgba(0,0,0,0.5) !important;
    font-size: 16px !important;
    font-weight: normal !important; }
}

.input-code{
    display: inline-block;        
    width: 35px;
    font-size: 18px;
    color: #000;
    text-align: right;
    font-weight: 400;
    margin-right: -5px;
}

.order-content{
    padding: 15px 60px;
}

.box-order.visitor {
    .box-field-select{
        position: relative;
        width: 21%;
       margin-right: 0;
        .box-field__input:disabled{
            background: #fff;
        }
        .select-wrap{
               position: absolute;
                top: 0;
                right: 10px;
                width: 68px;
                border-left: 1px solid #d5d5d5;
                display: inline-block;
                height: 24px;
                top: 11px;
                padding-left: 12px;
        }
    }
}
.option-time{
    background: #f7f7f7;
    height: 47px;
    line-height: 47px;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    @include border-radius(7px);
    letter-spacing: 1px;
    padding-right: 40px;
    b{
        font-size:20px;
        font-weight: 500;
    }
    span{
        display:inline-block;
        width: 40px;
        height: 1px;
        background: #bdbdbd;
        vertical-align: middle;
       margin: 0 28px 0 35px;
        
    }
}

.box-field-time{
    position: relative;
    .jq-selectbox__select-text{
        font-size: 20px;
        font-weight: 500;
    }
    .jq-selectbox .jq-selectbox__select{
        background: none;
    }
    .jq-selectbox__select-text {
        display: block;
        min-width: 50%;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 50%;
        text-align: left;
        padding-left: 75px;
        letter-spacing: 1px;
    }
    .option-time-s{    
        height: 47px;
        line-height: 47px;
        color: #000;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        @include border-radius(7px);
        position: absolute;
        width: 100%;
        padding-right: 100px;
         letter-spacing: 1px;
    b{
        font-size:20px;
        font-weight: 500;
    }
    span{
        display:inline-block;
        width: 40px;
        height: 1px;
        background: #bdbdbd;
        vertical-align: middle;
       margin: 0 28px 0 35px;
        
    }
}

}


@media screen and (max-width: 1399px){
    .order-content{
        padding: 0;
    }
    .box-order.visitor {
      .box-field {
        width: 24%;
        margin-right: 1%;
    }
    .box-field-select{
         width: 24%;
    }
    }
}

@media screen and (max-width: 1230px){
  .booking-nav__period {
    .period-title {
      float: none;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    .period-descr {
      float: none;
      width: 100%;
      text-align: center;
      a {
        margin-right: 15px;
      }
      span {
        margin-right: 15px;
      }
    }
  }
  .booking-nav__number {
    .number-count {
      .number-title {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      .number{
        float: none;
        width: 100%;
        text-align: center;
      }
    }
    .number-count-search__btn {
      padding: 30px 10px;
      font-size: 11px;
    }
  }
  .booking-catalog-list__item {
    .item-content {
      .description-text {
        margin: 10px;
      }
    }
  }
  .type-room {
    .text {
      font-size: 19px;
    }
  }
  .type-room.other {
    .text {
      font-size: 14px;
    }
  }
  .order-content-head__descr {
    .total-order {
      margin-right: 20px;
      .text {
        margin-right: 20px;
      }
      .dash {
        margin-right: 20px;
      }
    }
  }
  .section-inner-cost {
    .content {
      padding: 0 30px;
    }
  }
  .section-inner-info_left {
    float: none;
    width: 100%;
  }
  .section-inner-info_right {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .info-room  {
    .info-room__btn {
      right: 0;
      padding: 0 10px;
      font-size: 11px;
    }
  }
  .order-content-head__title {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    h2 {
      text-align: center;
    }
  }
  .order-content-head__descr {
    float: none;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
    body.prog-view {
      .section-slider-wrap {
        padding: 0;
        background-image: none;
        background-color: #045493;
      }
    
}
  .container-programs{    
        background-size: 1300px auto;
        background-position: center 30px;
        background-repeat: no-repeat;
        }
    body.prog-view .content-text {
        padding: 43px 0 72px 10px;
    }
    header.booking {
        height: 10px;
    }  
    body.prog-view .content-cols__item:nth-child(1) {
        max-width: 70%;
            width: 70%;
    }
    
     .box-order.visitor {
      .box-field {
        width: 48%;
        margin-right: 1%;
    }
    .box-field-select{
         width: 48%;
    }
    }
    .box-order, .box-order.visitor, .box-order_time, .box-order_info-pay {
        padding: 38px 20px 32px 20px;
    }
    .bottom-info {
        width: 95%;
    }
}
@media screen and (max-width: 998px) {
  .info-room  {
    .info-room__btn {
      top: auto;
    }
    .cost {
      font-size: 25px;
      &:after {
        display: none;
      }
    }
  }
  .booking-catalog-list__item {
    .item-content {
      .description {
        padding: 0 20px;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .booking-catalog-list__item {
    .item-foto {
      float: none;
      margin: 10px auto;
      border-radius: 7px;
      overflow: hidden;
    }
    .item-content {
      margin: 0;
      padding: 10px;
    }
  }
  .button-get-card {
    margin-top: 14px;
  }
  .box-order.call {
    .box-field {
      display: block;
      width: 100%;
    }
  }
  .box-field__inner {
    margin-bottom: 10px;
  }
  .program-table {
    .table-list__item {
      .col_1 {
        padding-left: 0;
      }
    }
  }
  .thead-table {
    padding: 20px 0;
  }
  .thead-table__left {
    width: 70%;
  }
  .thead-table__right {
    width: 26%;
  }
  .booking-content-header__lang {
    position: relative;
  }
    .booking-catalog-list__item .item-content .description-text {
        margin: 10px 0;
    }
    body.prog-view .content-text{
        padding-bottom: 50px;
    }
    .option-time{
        padding-right: 0;
        span{
          margin: 0 15px;  
        }
    }
    .box-field-time .option-time-s span{
        margin: 0 15px;
    }
    .box-field-time .jq-selectbox__select-text{
        padding-left: 55px;
    }
}

@media screen and (max-width: 768px) {
  .booking-nav__period {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    border-right: none;
    border-radius: 15px;
  }
  .booking-nav__number {
    float: none;
    width: 100%;
    border-radius: 15px;
  }
  .booking-content-header__title {
    h1 {
      font-size: 38px;
    }
  }
  .order-content-head__descr {
    .total-order {
      margin-right: 10px;
      .total {
        font-size: 40px;
      }
      .text {
        margin-right: 10px;
        .icon {
          margin-right: 10px;
        }
      }
      .dash {
        margin-right: 10px;
      }
    }
  }
  .box-order,
  .box-order.visitor {
    padding: 15px;
  }
  .box-order.visitor {
    .box-field {
      width: 46%;
    }
  }
  .section-note {
    padding: 0;
  }
  body.prog-view {
    .section-food-view-1 {
      padding-top: 0;
    }
  }
  .info-pay-list {
    .info-pay__item-title {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
    .info-pay__item-reserve {
      float: none;
      width: 100%;
    }
  }
  .content-cols {
    .foto-programs {
      display: none;
    }
  }
  body.prog-view {
    .section-inner-cost-top {
      padding:40px 0 70px 0;
    }
  }
  body.prog-view {
    .content-cols__item {
      width: 100%;
    }
  }
    body.prog-view .content-text .content-title {
        font-size: 35px;
    }
    header.booking {
        height: 10px;
    }
     body.prog-view .content-cols__item:nth-child(1) {
        max-width: 100%;
            width: 100%;
    }
    .box-order_time .box-field{
        width: 100%;
    }
    .option-time {
        padding-right: 50px;
    }
}

@media screen and (max-width: 640px) {
  .type-room {
    .icon {
      display: none;
    }
  }
  .info-room {
    .cost {
      font-size: 22px;
    }
    .info-room__btn {
      right: 0;
    }
    .button-border:before {
      display: none;
    }
  }
  .booking-catalog-list__item {
    .item-content {
      .description {
        padding: 0;
        width: 77%;
      }
      .description-middle {
        padding: 10px;
      }
      .info-room {
        margin-bottom: 10px;
      }
    }
  }
  .booking-content-header__title {
    padding-left: 0;
  }
  .order-content-head__descr {
    .total-order {
      margin-bottom: 10px;
    }
    .total-order-details {
      display: block;
    }
  }
  .box-order_time {
    .box-field {
      display: block;
      width: 100%;
    }
  }
  .bottom-info {
    width: 100%;
    .bottom-info__text {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    .bottom-info__foto {
      display: block;
      width: 100%;
    }
  }
  .booking-catalog-list__item {
    .item-content {
      .description {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      .info-room {
        display: block;
        width: 100%;
      }
    }
  }
  body.booking {
    header.booking {
      height: 100px;
    }
  }
  .window-open.small {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .booking-nav__period {
    .period-descr {
      a {
        display: block;
        margin-bottom: 5px;
      }
      span {
        margin-bottom: 5px;
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
      }
    }
  }
  .booking-content-header__title h1 {
    font-size: 32px;
  }
  .order-content-head {
    padding-left: 0;
  }
  .order-content-head__title h2 {
    font-size: 30px;
  }
  .box-order.visitor {
    .box-field {
      width: 100%;
    }
  }
  .container-programs {
    .content-title {
      font-size: 29px;
    }
    .inner {
      .duration p {
        width: 180px;
      }
      .age p {
        width: 180px;
      }
    }
  }
  .section-inner-cost {
    .content {
      padding: 0 10px;
    }
  }
  .box-order.call {
    .box-field {
      .box-field__input {
        width: 77%;
      }
    }
  }
  .info-pay-list {
    padding: 0;
  }
  .info-pay-list {
    .info-pay__item {
      padding: 15px 0;
    }
    .info-pay__item-head {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
    .info-pay__item-descr {
      padding-left: 0;
    }
  }
  .window-open.small {
    width: 300px;
    .wrapper {
      padding: 0 10px;
    }
    .call-me {
      background-position: 95% center;
    }
  }
    body.prog-view .content-text .content-title {
        font-size: 31px;
    }
    header.booking {
        height: 10px;
    }
    body.prog-view .container-programs {
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
        
    body.prog-view .content-text{
        padding-bottom: 50px;
    }
    .box-field-phone{
        .box-field__inner{
            padding-left: 5px;
        }
        
    }
    .box-order.call .box-field-phone .box-field__input{
        padding-left: 10px;
        width: 56%;
    }
    .box-field-time .option-time-s{
        font-size: 14px;
        span{
            width:20px;
        }
    }
    .option-time{
        font-size: 14px;
        span{
            width:20px;
            margin: 0 10px 0  15px;
        }
        b{
            font-size:16px;
            
        }
    }
    .box-field-time .jq-selectbox__select-text {
        padding-left: 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
  .box-order_time {
    .box-field {
      .jq-selectbox {
        .jq-selectbox__select {
          text-align: left;
        }
        .jq-selectbox__dropdown li {
          text-align: left;
        }
      }
    }
  }
  body.prog-view {
    .section-inner-cost-top {
      padding: 30px 0;
    }
  }
    .booking-nav__number .number-count-search__btn {
        padding: 30px 10px 31px;

    }
    body.prog-view .content-text .content-title {
        font-size: 27px;
    }
}


